! Set HiDPI correction if needed
#ifdef HIDPI
    Xft.dpi: 144
#endif

! Other useful screen stuff
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Terminals config
! #include ".Xresources.d/xterm"
! #include ".Xresources.d/urxvt"
! #include ".Xresources.d/uxterm"

! Colors
! #include ".Xresources.d/colors"

! █▓▒░ colorscheme
#include ".Xresources.d/cherrry9_colors"


#include ".Xresources.d/cherrry9_xdefaults"