#!/bin/sh

# Define screen dpi
declare -i dpi=$(xdpyinfo | grep resolution | sed -r 's/^[^0-9]*([0-9]+).*$/\1/')

# Set keyboard layout
# setxkbmap -layout us # -variant intl

# Adjust keyboard typematic delay and rate
xset r rate 200 50

# Get dpi
read px py <<EOF
$(xrandr | awk '/\*/ {print $1; exit}' | tr 'x' ' ')
EOF
read mmx mmy <<EOF
$(xrandr | awk '/ connected primary/ {print $(NF-2), $NF}' | tr -d 'mm')
EOF
if [ -z "$mmx" ]; then
    read mmx mmy <<EOF
$(xrandr | awk '/ connected/ {print $(NF-2), $NF; exit}' | tr -d 'mm')
EOF
fi
dpix=$(awk "BEGIN {printf \"%.2f\", ($px * 25.4) / $mmx}")
dpiy=$(awk "BEGIN {printf \"%.2f\", ($py * 25.4) / $mmy}")

if [ $(printf "%.0f" $dpix) -ge 150 ]; then
    # 96, 120 (25% higher), 144 (50% higher), 168 (75% higher), 192 (100% higher)
    xrandr --dpi 192

    # merge & load configuration from .Xresources
    xrdb -DHIDPI=1 -merge ~/.Xresources

#     # Let QT and GTK autodetect retina screen and autoadjust
#     export QT_AUTO_SCREEN_SCALE_FACTOR=1
#     export GDK_SCALE=1
#     export GDK_DPI_SCALE=0.9
#     export GTK_THEME=Adwaita:dark
else
    # merge & load configuration from .xresources
    xrdb -merge ~/.xresources
fi

# Set background wall (alternatives: variety or nitrogen)
feh --bg-scale ~/.config/walls/01.png &


case "$(readlink -f /sbin/init)" in
	*systemd*) autostart="xcompmgr" ;;
	*) autostart="mpd pipewire xcompmgr" ;;
esac
for program in $autostart; do
	pidof -sx "$program" || "$program" &
done >/dev/null 2>&1

# should fix xdotool issue
setxkbmap

# Ensure that xrdb has finished running before moving on to start the WM/DE.
[ -n "$xrdbpid" ] && wait "$xrdbpid"

# # config, cache and data
# export XDG_CONFIG_HOME=$HOME/.config
# export XDG_CACHE_HOME=$HOME/.cache
# export XDG_DATA_HOME=$HOME/.local/share
#
# # zsh
# export ZDOTDIR=$XDG_CONFIG_HOME/zsh
