[submodule "dwm"]
	path = dwm
	url = git@github.com:nash169/dwm.git
[submodule "st"]
	path = st
	url = git@github.com:nash169/st.git
[submodule "slock"]
	path = slock
	url = git@github.com:nash169/slock.git
[submodule "dmenu"]
	path = dmenu
	url = git@github.com:nash169/dmenu.git
[submodule "dwmstatus"]
	path = dwmstatus
	url = git@github.com:nash169/dwmstatus.git
