################################################################################

[module/volume-cherrry9]
type = internal/alsa
format-volume = <ramp-volume><label-volume>
format-muted = <label-muted>
ramp-volume-foreground = ${colors.secondary}

format-volume-padding = 1
format-muted-padding = 1

format-volume-background = ${colors.background-alt}
format-muted-background = ${colors.background-alt}

format-muted-prefix = "%{F#84A0C6}婢 %{F-} "
ramp-volume-0 = " "
ramp-volume-1 = "墳 "
ramp-volume-2 = " "

################################################################################

[module/pavolume]
type = custom/script
tail = true
label = %output%
exec = ~/.config/polybar/scripts/pavolume.sh --listen
click-right = exec pavucontrol
click-left = ~/.config/polybar/scripts/pavolume.sh --togmute
scroll-up = ~/.config/polybar/scripts/pavolume.sh --up
scroll-down = ~/.config/polybar/scripts/pavolume.sh --down
format-underline = #3EC13F
format-foreground = ${colors.foreground}
format-background = ${colors.background}

################################################################################