#!/bin/sh

# Define screen dpi
declare -i dpi=$(xdpyinfo | grep resolution | sed -r 's/^[^0-9]*([0-9]+).*$/\1/')

# Set keyboard layout
# setxkbmap -layout us # -variant intl

# Adjust keyboard typematic delay and rate
xset r rate 270 30

# Set HiDPI if dpi lower then 100 dpi
if [ $dpi -le 96 ]; then
    # Start Xorg server at this DPI
    # 96, 120 (25% higher), 144 (50% higher), 168 (75% higher), 192 (100% higher)
    xrandr --dpi 192

    # Merge & load configuration from .Xresources
    xrdb -DHIDPI=1 -merge ~/.Xresources

    # Let QT and GTK autodetect retina screen and autoadjust
    export QT_AUTO_SCREEN_SCALE_FACTOR=1
    export GDK_SCALE=1
    export GDK_DPI_SCALE=0.8
else
    # Merge & load configuration from .Xresources
    xrdb -merge ~/.Xresources
fi

# Set background wall (alternatives: variety or nitrogen)
feh --bg-scale ~/.config/walls/01.png &

# Run xcompmgr for transparency
xcompmgr &

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# ZSH Config dir
export ZDOTDIR=$HOME/.config/zsh
